<% @entries.each do |entry| %>
    <div class='row-fluid'>
      <div class='span5'>
        <div class='well'>
          <div class='pull-left'>
          </div>
          <div class='pull-right'>
          </div>
          <br />
          <br />
          <%= entry.post %>
        </div>
      </div>
    </div>
<% end %>